# I got docked HW 1 for not having a .gitignore, but it was just in the root 
# of the repository.

# So here's one, just to have one here too.

# No additional files are being ignored on top of the root gitignore.